@{
    Layout = "default";
}
<h1>@Title</h1>
<article>
    @RenderBody()
</article>

<p class="post-meta">
    Published on @DateTime.Parse(Date).ToString("dddd, d MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("en-GB"))
    <br />
    By <a href="https://plus.google.com/+EvelinaGabasova?rel=author">Evelina Gabasova</a><br />
</p>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
</div>
<br />

<script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531bbb5c0879f9d7"></script>
<!-- AddThis Button END -->